<html>
<head>
<style>
p {text-align: center;}
</style>
</head>
<body>

<html><body><br></br>
    <br></br>
    <br></br>
    <br></br><p>
          <a href="/download">Click here</a> to download your csv. Upload this to Cointracker with Add Wallet > Import CSV. <p>
    <br></br>
    <p>If you found this tool useful, consider donating!</p>
    <br></br>
    <p>quasirobo.eth</p>
<br></br>
    <p>0x1F0b3b07108FDb7b8c29135B51923aFFC9DbC59D</p>
    <br></br>
    <p>feedback: bla4xa@virginia.edu</p>
</body></html>